[Unit]
Description=Minecraft Server
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
Nice=1
SuccessExitStatus=0 1
ProtectHome=true
ProtectSystem=full
PrivateDevices=true
NoNewPrivileges=true
WorkingDirectory=__INSTALL_DIR__/
UMask=000
Environment="LD_LIBRARY_PATH=__INSTALL_DIR__"
ExecStartPre=/bin/mkfifo __INSTALL_DIR__/stdin
ExecStart=__INSTALL_DIR__/bedrock_server
StandardInput=file:__INSTALL_DIR__/stdin
ExecStop=/bin/echo "stop\n" > __INSTALL_DIR__/stdin
ExecStopPost=/bin/rm __INSTALL_DIR__/stdin

[Install]
WantedBy=multi-user.target
